body {
    background-color: aqua;
}

.container {

    text-align: center;
}

.squareone {
    display: block;
    background-color: red;
    height: 400px;
    /* display: none; */
}

.squaretwo {
    background-color: black;
    display: flex;
    text-align: left;   
    color: white;
    display: none;
}

.squarethree {
    background-color: white;
    display: flex;
    height: 400px;
    width: 20;
    align-items: center;
    justify-content: center;
    display: none;
}
