body {
    background-color: rgb(255, 0, 0);
}

.container {
   display: flex;
}

.squareone {
    display: block;
    text-align: center;
    height: 400px;
    width: auto;
}

.squaretwo {
    color: white;
    align-items: center;
    margin: auto;
    display: none;
    animation: backInUp;
    animation-duration: 5s
}

.list {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}
